/* © 2022 Alex Barga. All rights reserved.
/* Reproduction or transmission in whole or in part, in any form or by any means, electronic,
/* mechanical or otherwise, is prohibited without the prior  written consent of the owner. */

/*#region GENERAL COMPONENTS*/
div {
	box-sizing: border-box
}
body {
	margin: 0 auto;
	padding-top: 0.5%;
	align-content: center;
	text-align: center;
	background-color: #D8BFD8
}
p {
	border: 2px solid black;
	box-sizing: border-box;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: "American Typewriter", serif;
	font-size: 200%;
	display: inline-block
}
.big-box {
	margin: 0 auto;
	width: 100%;
	-webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old version of Firefox */
    -ms-user-select: none; /* Internet Explorer or Edge */
    user-select: none; /* All modern browsers */
}
#headerBox {
	height: fit-content;
	box-sizing: border-box;
	min-width: 500px;
	width: 50%
}
.dm#headerBox {
	background-color: #712b06
}
.container {
	border: 3px solid rgb(255, 148, 71);
	margin: 0 auto;
	min-width: -moz-fit-content;
	min-width: fit-content;
    padding: 0px;
}
.container.dm {
	border: 3px solid #712b06
}
/*#endregion*/

/*#region WORD CONTAINERS*/
.row {
	box-sizing: border-box;
	display: inline-block;
	min-width: 200px;
	max-width: 250px;
	width: 100%
}
.wordContainer {
	width: 100%;
	height: .80px;
	min-height: 46px
}
#wordBoxContainer{
	min-width: 500px;
    height: fit-content;
	display: inline-block;
}
.wordInput{
    text-align: left;
    text-indent: 26px;
    letter-spacing: 56px;
    caret-color: transparent;
    width: 345px;
    height: 49px;
}
#wordInputBox{
    width: fit-content;
    width:350px;
    transform: translateY(-2px)
}
#keyContainer{
	min-width: 350px;
	width: 40%;
	max-width: 520px;
	height: 130px;
    transform: translateY(-5px)
}
/*#endregion*/

/*#region TITLE BOX*/
.title-box {
	font-family: "Times New Roman", serif;
	font-size: 230%;
	display: block
}
#plain {
	background-color: rgb(225, 225, 225)
}
#error {
	background-color: rgb(168, 14, 14)
}
.dm#plain {
	background-color: #262626;
	color: #FFC0CB
}
.dm#error {
	background-color: #570909;
	color: #000000
}
/*#endregion*/

/*#region LETTER BOXES*/
.letter {
	width: 20%;
	height: 100%;
	min-height: 36.8px;
	text-align: center
}
#charColor-1 {
	background-color: rgb(225, 225, 225)
}
#charColor1 {
	background-color: rgb(99, 190, 93)
}
#charColor0 {
	background-color: rgb(255, 199, 30)
}
.dm#charColor-1 {
	background-color: #262626;
	color: #FFC0CB
}
.dm#charColor1 {
	background-color: #004500;
	color: #FFFFFF
}
.dm#charColor0 {
	background-color: #FFA500;
	color: #892d2d
}
/*#endregion*/

/*#region ANSWER BOXES*/
#ans-box {
	width: 100%;
	font-size: 0.7vw;
	background-color: #262626;
	color: #FFC0CB;
	border-color: #000000;
	font-stretch: condensed;
	text-indent: -9999px;
	height: 40.5px
}
/*#endregion*/
