/* © 2022 Alex Barga. All rights reserved.
 * Reproduction or transmission in whole or in part, in any form or by any means, electronic,
 * mechanical or otherwise, is prohibited without the prior  written consent of the owner.*/
* {
    box-sizing: border-box
}

body {
    margin: 0 auto;
    align-content: center;
    text-align: center;
    background-color: #D8BFD8;
}

div {
    margin: 0 auto;
}

div.letter {
    width: 20%;
    text-align: center;
    vertical-align: top;
    text-transform: uppercase;
}

div#appBox {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

div#gameBox {
    padding-top: 92px;
    display: inline-flex;
    flex-wrap: wrap;
}

div.wordBox {
    margin: 0 auto;
}

div.row {
    display: inline-block;
    flex-wrap: wrap;
}

div.container {
    border: 3px solid rgb(255, 148, 71);
    background-color: rgb(255, 148, 71);
    min-width: -moz-fit-content;
    min-width: fit-content;
    min-width: -webkit-fit-content;
}

div.container.dm {
    border: 3px solid #712b06;
    background-color: #712b06;
}

div.container.headerBox {
    background-color: rgb(255, 148, 71);
}

div.container.headerBox.dm {
    background-color: #712b06
}

p#plain.titleBox {
    background-color: rgb(225, 225, 225)
}

p#error.titleBox {
    background-color: rgb(168, 14, 14)
}

p#plain.titleBox.dm {
    background-color: #262626;
    color: #FFC0CB
}

p#error.titleBox.dm {
    background-color: #570909;
    color: #000000
}

div.letter {
    width: 20%;
    text-align: center
}

div.boxColor-1.letter {
    background-color: rgb(225, 225, 225)
}

div.boxColor-1.letter.dm {
    background-color: #262626;
    color: #FFC0CB
}

div.boxColor0.letter {
    background-color: rgb(255, 199, 30)
}

div.boxColor0.letter.dm {
    background-color: #FFA500;
    color: #892d2d
}

div.boxColor1.letter {
    background-color: rgb(99, 190, 93)
}

div.boxColor1.letter.dm {
    background-color: #004500;
    color: #FFFFFF
}

input{
    overflow: hidden;
    text-overflow: clip;
    -ms-text-overflow: clip;
}

input::selection {
    background-color: transparent
}


input.dm {
    border-color: #1f1f1f
}

input.headerButton:hover {
    background-color: rgb(203, 168, 202);
    transform: scale3d(0.98, 0.96, 1)
}

input.headerButton.dm {
    background-color: #313131;
    color: #ffcfcf;
    border-color: #000000
}

input.headerButton:hover.dm {
    background-color: #761919;
    color: #ff6982;
    transform: scale3d(0.96, 0.96, 1)
}

input.key.R0 {
    width: 10%;
}

input.key.R1 {
    width: 11.11%
}

input.key.R2 {
    width: 10%
}